#dept-article-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    margin-top: 5rem;
    margin-bottom: 18rem; 
    gap: 5rem;

}



.dept-input-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.dept-input-search{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    width: 80%;
    box-shadow: 4px 5px 15px 5px rgba(0,0,0,0.44);
}

#dept-section-containerDepartment{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.dept-div-item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}


 .dept-figcaption-titulo{
    font-weight: 700;
 }

 .dept-div-item:hover > .dept-figure-departamento > .dept-img-imagem{
    transform: scaleX(1.1); 
    transform-origin: 0 0;

 }

 .dept-figure-departamento {
     height: 100%;
     width: 60%;
     gap: 0.5rem;
     display: flex;
     flex-direction: column;
 }

 .dept-img-imagem{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all .4s ease-out;
    overflow: hidden;
    
}

 /* .dept-empty-fundo {
    width: 60%;
    height: 80%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    position: absolute;
    z-index: 1;
 }

.dept-div-item:hover > .dept-h2-titulo{
    font-size: 1.5rem;
} */

