#main-content {
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #adb5bd;
    font-family: 'Roboto Slab', sans-serif;

}

a{
    text-decoration: none;
}